doctype html
html
  head
    title="Decision Tree Explanability Demo"
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='http://wzrd.in/standalone/uuid%2Fv5@latest')
    script(src='/javascripts/general.js')

  body(onload="javascript:init('" + qnum + "')", onbeforeunload="javascript:actionReload();")
    div(class="container-fluid text-white bg-dark")
      div(class="row")
        div(class="col-md-8")
          div(class="card bg-dark")
            <!-- USER DETAILS -->
            div(class="card-body")
              table(cellpadding="10px")
                tr
                  td
                    div(id="user_name")
                  td
                    button(type='button' class='btn' onclick='changeUser()') Change user
        div(class="col-md-4")
          div(class="card bg-dark")
            <!-- QUESTION NUMBER -->
            if (qnum > 0)
              div(class="card-body")
                h2 Question #{qnum} of #{qmax}
  block content
