extends layout

block content
  div(class="container-fluid text-white bg-dark")
    div(class="row text-white")
      h2 Welcome to the Random Forest explanation experiment
    div(class="row text-white")
      div(class="col-md-12")
        br
        br
        br
        br
        p I need to add some help text here to explain how the experiment works
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
    div(class="row text-white")
      div(class="col-md-12")
        button(type='button' class='btn' onclick='startExperiment()') Start experiment
        br
        br
        br
        br
        br
        br
